# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
*.log

# Backend specific
backend/config.json
backend/users.json

# Frontend specific
frontend/venv/
frontend/.env

# Ignore frontend build artifacts (optional for cleaner repo)
frontend/build/
